<div class="card card-cascade narrower">

    <!-- Card image -->
    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <img class="card-img-top" [src]="calObj.image" alt="Card image">
        <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body card-body-cascade">
  
      <!-- Title -->
      <h4 class="card-title">{{calObj.title}}</h4>
      <!-- Text -->
      <ul class="card-text" *ngFor="let feature of calObj.features">
          <li>{{feature}}</li>
      </ul>
      <!-- Button -->
      <a class="btn btn-elegant waves-light" mdbWavesEffect [routerLink]="calObj.route" [queryParams]="{param: calorieTableParam}" [skipLocationChange]="true">Calculate <i class="fa fa-angle-double-right"></i>
      </a>
  
    </div>
  
  </div>