.adjustment {
    padding: 5vh 10vw;
}

p.card-text {
    font-size: 1rem !important; 
}

.card.card-cascade.narrower .view.view-cascade {
    margin-left: 10% !important;
    margin-right: 10% !important;
    margin-top: -2.25rem !important;
}

.card.card-cascade.narrower {
    margin-top: 2.25rem !important;
}

.card-body {
    margin-left: 9% !important;
    margin-right: 9% !important;
}