<div class="card card-cascade narrower">

    <!-- Card image -->
    <div class="view view-cascade overlay waves-effect waves-light">
      <img class="card-img-top" src="https://c8.alamy.com/comp/EDYW5M/portrait-of-a-bodybuilder-with-muscular-physique-posing-against-black-EDYW5M.jpg" alt="Card image cap">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body card-body-cascade">
  
      <!-- Label -->
      <h5 class="cyan-text pb-2 pt-1"><i class="fa fa-calendar-o"></i> 3 times/week</h5>
      <!-- Title -->
      <h4 class="card-title">Full Body Workout</h4>
      <!-- Text -->
        <ul class="card-text">
            <li>Suitable for Beginners</li>
            <li>Full Body Stimulation</li>
            <li>Flexible and Intense</li>
            <li>For Fatloss and Muscle Gain</li>
          </ul>
      <!-- Button -->
      <a class="btn waves-effect btn-elegant waves-light">Use Routine <i class="fa fa-angle-double-right"></i>
      </a>
  
    </div>
  
  </div>