<div class="card card-cascade narrower">

    <!-- Card image -->
    <div class="view view-cascade overlay waves-effect waves-light">
        <img class="card-img-top" [src]="workoutObj.image" alt="Card image">
        <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body card-body-cascade">
  
      <!-- Title -->
      <h4 class="card-title">{{workoutObj.title}}</h4>
      <!-- Text -->
      <ul class="card-text" *ngFor="let feature of workoutObj.features">
          <li>{{feature}}</li>
      </ul>
      <!-- Button -->
      <a class="btn waves-effect btn-elegant waves-light" [routerLink]="workoutObj.route" [queryParams]="{param: workoutTableParam}" [skipLocationChange]="true">Use Routine <i class="fa fa-angle-double-right"></i>
      </a>
  
    </div>
  
  </div>