
<!--Card-->
<div class="card card-cascade cascading-admin-card">

    <!--Card Data-->
    <div class="admin-up">
        <i class="fa fa-line-chart gradient1 waves-effect waves-light"></i>
        <div class="data">
            <p>WEIGHT</p>
            <h4><strong>70 Kgs</strong></h4>
        </div>
    </div>
    <!--/.Card Data-->

    <!--Card content-->
    <div class="card-body">

        <!--Text-->
        <p class="card-text">Don't Give Up! 🔥</p>
    </div>
    <!--/.Card content-->

</div>
<!--/.Card-->