.cascading-admin-card {
    margin-top: 20px; 
}
.cascading-admin-card .admin-up {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -20px; 
}
.cascading-admin-card .admin-up .fa {
    padding: 1.7rem;
    font-size: 2rem;
    color: #fff;
    text-align: left;
    margin-right: 1rem;
    border-radius: 3px; 
}
.cascading-admin-card .admin-up .data {
    float: right;
    margin-top: 2rem;
    text-align: right; 
}
.cascading-admin-card .admin-up .data p {
    font-size: 12px; 
}
    
  .cascading-admin-card .admin-up .fa {
    -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  }

  .card {
      margin-bottom: 2rem;
  }