nav {
    height: 8vh;
    background-color: white;
    padding-left: 2.5rem;
    padding-right: 10vw !important;
    transition: .5s;
}

a.navbar-brand {
    color: black;
}

a.nav-link {
    color: rgb(112, 112, 112);
    border-radius: .25rem;
    transition: 0.5s;
}

a.nav-link:hover {
    background-color: rgba(172, 172, 172, 0.2); 
}

.navactive {
    color: black !important;
    background-color: rgba(172, 172, 172, 0.287); 
}

a.nav-link:hover i.fa-facebook {
    color: rgb(47, 47, 194);
}

a.nav-link:hover i.fa-instagram {
    color: rgb(204, 0, 126);
}

a.nav-link:hover i.fa-youtube {
    color: rgb(223, 33, 33);
}

a.nav-link.border.border-light {
    margin: 0 0.5em;
    font-size: 0.9em;
}

.navbar .nav-item .nav-link {
    font-size: 0.9em;
}

nav.home {
    background: linear-gradient(#fff, rgba(255, 255, 255, 0));
    box-shadow: none;
    height: 11vh;
}

.home a.nav-link {
    color: #000000;
}