<nav id="navbar" class="navbar navbar-expand-lg fixed-top home" [ngClass]="{'navcolor': menu }">
  
  <a class="navbar-brand " mdbWavesEffect routerLink="./">
    <img src="../../assets/images/LOGO-horizontal.svg" style="height: 5vh;" type="image/svg+xml">
  </a>

  <button class="navbar-toggler ml-auto" type="button" (click)="ShowMenu()" >
      <i class="fa fa-bars"></i>
</button>  

<div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'menuvisible': menu }">
<ul class="navbar-nav ml-auto">
  <li class="nav-item" >
      <a href="https://www.facebook.com/alphaayush" class="nav-link " target="_blank">
        <i class="fa fa-facebook"></i>
    </a>
  </li>
 <li class="nav-item" >
    <a href="https://www.instagram.com/alphaayush" class="nav-link " target="_blank">
      <i class="fa fa-instagram"></i>
  </a>
  </li>
  <li class="nav-item" >
      <a href="https://www.youtube.com/" class="nav-link " target="_blank">
        <i class="fa fa-youtube"></i>
    </a>
  </li>
  <ng-container *ngIf="home">
  <li class="nav-item" mdbWavesEffect>
      <a class="nav-link" [ngClass]="{'homeactive': activelink == 0 }" (click)="MoveTo(1)" >Home</a>
  </li>
  <li class="nav-item" mdbWavesEffect>
      <a class="nav-link" [ngClass]="{'storyactive': activelink == 1 }" (click)="MoveTo(2)" >Story</a>
  </li>
  <li class="nav-item" mdbWavesEffect>
      <a class="nav-link" [ngClass]="{'featuresactive': activelink == 2 }" (click)="MoveTo(3)" >Features</a>
  </li>
  <li class="nav-item" mdbWavesEffect>
      <a class="nav-link" [ngClass]="{'benefitsactive': activelink == 3 }" (click)="MoveTo(4)" >Benefits</a>
  </li>
  <li class="nav-item" mdbWavesEffect>
      <a class="nav-link" [ngClass]="{'dietactive': activelink == 4 }" (click)="MoveTo(5)" >Dieting</a>
  </li>
  <li class="nav-item" mdbWavesEffect>
      <a class="nav-link" [ngClass]="{'homeactive': activelink == 5 }" (click)="MoveTo(6)" >Training</a>
  </li>
  </ng-container>
  
  <li class="nav-item" mdbWavesEffect *ngIf="!home">
      <a class="nav-link" routerLink="/" routerLinkActive="navactive" [routerLinkActiveOptions]="{ exact:true }">Home</a>
  </li>
  <li class="nav-item" mdbWavesEffect *ngIf="loggedIn">
      <a class="nav-link" [ngClass]="{'border border-light rounded': home }" routerLink="/dashboard" routerLinkActive="navactive">Dashboard</a>
  </li>
  <li class="nav-item" mdbWavesEffect *ngIf="!home && loggedIn">
      <a (click)="LogOut()" class="nav-link border border-light rounded waves-effect"><i class="fa fa-sign-out"></i>LOGOUT</a>
  </li>
</ul>
</div>

  </nav>