<div class="container">
  <ul id="parallax">
    <li class="layer" data-depth="1.00"><img src="../../assets/images/404/404-01.png"></li>
    <li class="layer" data-depth="0.60"><img src="../../assets/images/404/shadows-01.png"></li>
    <li class="layer" data-depth="0.30"><img src="../../assets/images/404/monster-01.png"></li>
    <li class="layer" data-depth="0.40"><img src="../../assets/images/404/monster-01-trail.png"></li>
    <li class="layer" data-depth="0.50"><img src="../../assets/images/404/text-01.png"></li>
    <li class="layer" data-depth="0.25"><img src="../../assets/images/404/monster-eyes-01.png"></li>
  </ul>
  <a routerLink="/" class="btn btn-outline-primary" mdbWavesEffect>Back to home 😏</a>
</div>