
  img {
    display: block;
    width: 100%;
  }
  
  .container h1 {
    font-weight: normal;
    font-size: 24px;
  }

  .container {
    text-align: center;
    max-width: 1000px;
    padding-top: 5vh;
  }

  a.btn {
    border-color: black !important;
    color: black !important;
    font-weight: bold;
  }

  a.btn:hover {
    background-color: rgba($color: #000000, $alpha: 0.1) !important;
  }
