.adjustment {
    padding: 5vh 10vw;
}

.card.card-cascade.narrower .view.view-cascade {
    margin-left: 37% !important;
    margin-right: 37% !important;
    margin-top: -7rem !important;
}

.card.card-cascade.narrower {
    margin-top: 6rem !important;
}

.card-body {
    margin-left: 9% !important;
    margin-right: 9% !important;
}

div.view {
    border-radius: 50% !important; 
}

.weightlabel, .heightlabel {
    margin: 1.5rem 0;
}

.dropdown {
    position: relative;
    width: 100%;
    background: white;
    display: block;
    margin: 0 auto;
    .selected {
        display: block;
        padding: 1rem;
        cursor: pointer;
        transition: all .2s ease-in-out;
        border-bottom: 1px solid #bdbdbd;
        i {
            position: absolute;
            right: 0.5rem;
        }
        &:hover {
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
        }
    }
    .dropdown-list {
        position: absolute;
        top: 0;
        z-index: 10;
        width: 100%;
        max-height: 0;
        list-style-type: none;
        padding: 0;
        margin: 0;
        background: white;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transform: translateY(0%);
        transition: all 0.3s cubic-bezier(.17,.67,0,1);
        li {
            padding: 1rem;
            display: block;
            cursor: pointer;
            transition: all 200ms ease;
            z-index: 1000;
            &:hover, &.selectactive {
                background: rgba(#3F51B5, 0.1);
            }
        }
        &.selectactive {
            opacity: 1;
            visibility: visible;
            transform: translateY(0%);
            max-height: 260px;
            overflow: auto;
        }
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=radio] {
    display:none; 
}

#weight:focus + label, #age:focus + label, #height:focus + label, #weight.ng-valid + label, #weight.ng-invalid.ng-touched + label, #age.ng-invalid.ng-touched + label, #age.ng-valid +label, #height.ng-valid +label, #email + label, #gender + label {
    transform: translateY(-120%);
    font-size: 0.8rem;
}

ul::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ul::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.7); 
  }

.btn {
    transition: 0.3s;
    padding: 0.64rem 1.7rem;
}

button.active, label.active,  .btn-default:not([disabled]):not(.disabled).active {
    background: linear-gradient(40deg, #10465a, #1d286f) !important;
}

.btn-default:hover {
    background: linear-gradient(40deg, #2ba5d1, #2838a0) !important;
}

#weight.ng-valid, #age.ng-valid, #height.ng-valid, #email.ng-untouched, #gender.ng-untouched, #goalinput.ng-valid + p.selected {
    border-bottom: 2px solid #13b649;
}

#height.ng-valid + label, #age.ng-valid + label, #weight.ng-valid + label, .icon-success, #email.ng-untouched + label, #gender.ng-untouched + label {
    color: #13b649 !important;
}
.md-form .prefix {
    top: 0.5rem;
    font-size: 1.25rem;
}

input[type=number].ng-invalid.ng-touched, #email.ng-dirty, #gender.ng-dirty {
    border-bottom: 2px solid #ff3f3f;
}

input[type=number].ng-invalid.ng-touched + label, #email.ng-dirty + label, #gender.ng-dirty + label, .icon-invalid {
    color: #ff3f3f !important;
}

button.btn-indigo {
    border-radius: 2em;
}

button.weightlabel:first-child, button.heightlabel:first-child, label.form-check-label:first-child {
    border-radius: 2em 0 0 2em;
}

button.weightlabel:last-child, button.heightlabel:last-child, .explabel:nth-child(3), .actlabel:nth-child(4) {
    border-radius: 0 2em 2em 0 !important;
}

.rb-row {
    margin: 1.5rem 0px;
}
