.adjustment {
    padding: 5vh 10vw;
}

.card.card-cascade.narrower .view.view-cascade {
    margin-left: 10% !important;
    margin-right: 10% !important;
    margin-top: -2.25rem !important;
}

.card.card-cascade.narrower {
    margin-top: 2.25rem !important;
}

table th, table td {
    font-weight: 400 !important;
}

h1, h2 {
    font-weight: 200 !important;
    text-align: center;
    text-transform: uppercase;
}
