<div class="adjustment">
    <div class="card card-cascade">

        <!-- Card image -->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <iframe class="youtubeframe" src="http://www.youtube.com/embed?max-results=1&controls=0&showinfo=0&rel=0&listType=user_uploads&list=TheBodybuildingindia" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    
        <!-- Card content -->
        <div class="card-body card-body-cascade">
  
        <!-- Title -->
        <h4 class="card-title text-center"><i class="fa fa-youtube"></i> My Journey so far!</h4>
        </div>
    
    </div>

</div>