.adjustment {
    padding: 5vh 10vw;
}

.card-text {
    font-size: 1.1rem !important; 
}

.card.card-cascade.narrower .view.view-cascade {
    margin-left: 10% !important;
    margin-right: 10% !important;
    margin-top: -5rem !important;
}

.card.card-cascade.narrower {
    margin-top: 5rem !important;
}

.card .card-body .card-text {
    color: #383838;
}

.card-title {
    text-align: center;
}

table th, table td {
    font-weight: 400 !important;
}

.waves-effect {
    display: block !important;
}