.sidebar-fixed {
    height: 100vh;
    width: 20vw;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
    padding: 1.5rem;
    padding-top: 0; 
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 9vh;
}
.sidebar-fixed .list-group .active {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    border: none;
}
.sidebar-fixed .logo-wrapper {
    padding: 1.5rem; 
    width: 100%;
}
    .sidebar-fixed .logo-wrapper img {
    max-height: 100px; 
    width: 100%;
}

a img.rounded-circle {
    width: 42%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

#profile a {
    text-align: center;
}

.list-group-item {
    font-size: 0.9em;
}