<!-- Sidebar -->
<div class="sidebar-fixed position-fixed" >

  <div class="list-group list-group-flush">

    <div id="profile">
      <a routerLink="profile" routerLinkActive="active gradient1" class="list-group-item list-group-item-action waves-effect waves-light">
        <img src="../../../assets/images/dp.jpg" class="rounded-circle img-responsive z-depth-2">
        Welcome {{name}}
      </a>
    </div>

      <a routerLink="home" routerLinkActive="active gradient2" class="list-group-item list-group-item-action waves-effect waves-light">
          <i class="fa fa-home mr-3"></i>Home</a>
      <a routerLink="calculator" routerLinkActive="active gradient3" class="list-group-item list-group-item-action waves-effect waves-light">
          <i class="fa fa-calculator mr-3"></i>Calorie Calculator</a>
      <a routerLink="mealplan" routerLinkActive="active gradient4" class="list-group-item list-group-item-action waves-effect waves-light">
          <i class="fa fa-heartbeat mr-3"></i>Meal Plan Generator</a>
      <a routerLink="workout" routerLinkActive="active gradient5" class="list-group-item list-group-item-action waves-effect waves-light">
        <i class="fa fa-book mr-3"></i>Free Workout Plans</a>
       <a routerLink="blog" routerLinkActive="active gradient3" class="list-group-item list-group-item-action waves-effect waves-light">
        <i class="fa fa-rss mr-3"></i>Alpha Aesthetics Blog</a>
      <a routerLink="myfitnesspal" routerLinkActive="active gradient1" class="list-group-item list-group-item-action waves-effect waves-light">
        <i class="fa fa-pie-chart mr-3"></i>Myfitnesspal Insights</a>

      <a routerLink="training" routerLinkActive="active gradient2" class="list-group-item list-group-item-action waves-effect waves-light">
        <i class="fa fa-user-md mr-3"></i>Personal Training</a>
        <a routerLink="youtube" routerLinkActive="active gradient6" class="list-group-item list-group-item-action waves-effect waves-light">
          <i class="fa fa-youtube mr-3"></i>Latest Video</a>
  </div>

</div>
<!-- Sidebar -->