/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
body::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.3);
    box-shadow:inset 0 0 10px rgba(0,0,0,.3);
    background-color:rgba(255,255,255,.05)}
  body::-webkit-scrollbar{width:5px;background-color:rgba(255,255,255,.05)}
  body::-webkit-scrollbar-thumb{background-color:#000000}
  
body {
    overflow-x: hidden;
}

.adjustment {
    margin-left: 20vw;
    margin-top: 8vh;
    width: 75vw;
    padding: 5vh 3vw;
}

.card.card-cascade.narrower {
    margin-top: 1.25rem;
    margin-bottom: 2rem;
}
.card.card-cascade.narrower .view.view-cascade {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -1.25rem;
}


.card.card-cascade .view.view-cascade {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
}


.gradient1 {
    background: linear-gradient(40deg,#45cafc,#303f9f);
}

.gradient2 {
    background: linear-gradient(40deg,#ff6ec4,#7873f5)!important;
}

.gradient3 {
    background: linear-gradient(40deg,#3aa2ff,#1fffac)!important;
}

.gradient4 {
    background: linear-gradient(40deg,#ffd86f,#fc6262)!important;
}
.gradient5 {
    background: linear-gradient(40deg, #667eea, #764ba2)!important;
}
.gradient6 {
    background: linear-gradient(40deg, #ff6161, #940202)!important;
}

.macroupper {
    text-transform: uppercase;
}

.sizeup {
    font-size: 1.2em !important;
    text-transform: uppercase;
}

.highlights {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.5em;
    font-weight: 700 !important;
    width: auto;
    font-size: 2em;
    text-align: center;
    color: #33b5e5;
    margin: 0.5em 0;
    display: inline-block;
    transition: 0.3s;
}

.accordbtn {
    display: block;
    width: 66%;
    border-color: #b9b9b9 !important;
    margin: 0 auto;
    border-width: 1px !important;
    color: black !important;
    background-color: #f3f3f3 !important;
}

.accordcontent {
    border: 1px solid rgb(221, 221, 221);
    padding: 1em;
    width: 66%;
    margin: 0 auto;
}

.errorbtn {
    font-weight: 500;
}

.btn-rounded {
    border-radius: 2em; 
}

.highlights:hover {
    background-color: #ececec;
}

