<div class='fabwrapper'>
    <button class='action-button gradient5 waves-light' mdbWavesEffect><span class='fa fa-plus'></span></button>
    <ul class='actions'>
      <li><a class="waves-light gradient2" mdbWavesEffect href="https://www.instagram.com/alphaayush" target="_blank"><span class='fa fa-instagram'></span></a></li>
      <li><a class="waves-light gradient1" mdbWavesEffect href="https://www.facebook.com/alphaayush" target="_blank"><span class='fa fa-facebook'></span></a></li>
      <li><a class="waves-light gradient6" mdbWavesEffect href="https://www.youtube.com/" target="_blank"><span class='fa fa-youtube'></span></a></li>
    </ul>
  </div>
  