<div class='fabwrapper'>
    <button class='action-button gradient5 waves-light' mdbWavesEffect><span class='fa fa-plus'></span></button>
    <ul class='actions'>
      <li><a class="waves-light" mdbWavesEffect><span class='fa fa-google-plus'></span></a></li>
      <li><a class="waves-light" mdbWavesEffect><span class='fa fa-facebook'></span></a></li>
      <li><a class="waves-light" mdbWavesEffect><span class='fa fa-twitter'></span></a></li>
      <li><a class="waves-light" mdbWavesEffect><span class='fa fa-delicious'></span></a></li>
      <li><a class="waves-light" mdbWavesEffect><span class='fa fa-reddit'></span></a></li>
    </ul>
  </div>
  