#landing {
    text-align: center;
}

.section {
    position: relative;
}

nav {
    background: transparent;
}

#landinglogo {
    height: 30vh;
    margin: 0 auto;
    display: block;
}

#landingtitle1 {
    font-size: 3.5em;
    text-align: center;
    letter-spacing: 12px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
}

#landingtitle2 {
    font-size: 1.8em;
    text-align: center;
    letter-spacing: 9px;
    font-weight: 700;
    line-height: 1;
}

.adjustmenttext {
    padding-top: 20vh;
}

#gradientlayer {
    background: radial-gradient(#ffffff 23%, rgba(255, 255, 255, 0) 100%);
    height: 100%;
    width: 60%;
    position: absolute;
    top: 0;
    margin-left: auto; 
    margin-right: auto;
    left: 0; 
    right: 0; 
    z-index: -1;
    opacity: 0.7;
}

#landingquotes {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
}

.scroll-btn {
	display: block;
	position: absolute;
	left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.scroll-btn > * {
	display: inline-block;
	font-size: 9px;
	font-weight: normal;
	color: black;
	letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: black;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 17px;
	height: 34px;
	margin: 0 auto 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: black;
	border-radius: 50%;
	animation: ani-mouse 2.5s linear infinite;
}

.scroll-btn p {
  display: block;
}

@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 70%;
	}
	50% {
	opacity: 0;
	top: 70%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}

.loginbtn {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 16px 26px;
    overflow: hidden;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
  }
  
  .loginbtn:after {
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
    background-color: rgb(0, 0, 0);
    z-index: -1;
  }
  
  .loginbtn:hover {
    color: rgb(255, 255, 255);
    font-weight: 700;
    transition-delay: .25s;
  }
  
  .loginbtn:hover:after {
    top: 0;
    transition-delay: .2s;
  }
  .loginbtn:hover .border-top {
    left: -100%;
  }
  .loginbtn:hover .border-bottom {
    left: 100%;
  }
  .loginbtn:hover .border-right {
    top: -100%;
  }
  .loginbtn:hover .border-left {
    top: 100%;
  }
  
  a.loginbtn span {
    transition: all .3s ease;
    position: absolute;
    background-color: rgb(0, 0, 0);
  }
  
  .border-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }
  
  .border-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }
  
  .border-right {
    right: 0;
    top: 0;
    height: 100%;
    width: 2px;
  }
  
  .border-left {
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
  }
  
.modal-body {
    padding: 2rem 4rem;
}

.modal-dialog.cascading-modal .modal-header .title {
    font-weight: 400;
}

 a:not([href]):not([tabindex]):hover {
    color: white;
}

.diettitle {
    font-size: 4em;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
}

#diet2 {
    font-size: 2.6em;
    font-weight: 400;
}

#diet3 {
    font-size: 3.5em;
}

#diet4 {
    font-weight: 400;
    font-size: 1.8em;
}

#benefit1 {
    font-size: 2.6em;
    font-weight: 400;
}

#benefit2 {
    font-size: 3.1em;
}

#benefit3 {
    font-size: 6em;
}

#benefitmale, #benefitfemale {
    position: absolute;
    height: 70vh;
    top: 30vh;
}
#benefitfemale {
    left: 30vw;
}
#benefitmale {
    left: 40vw;
}

#parallaxmodel, #parallaxicons, #parallaxdiet {
    height: 100vh;
    top: 0;
    width: 100vw;
    position: absolute;
    left: 0;
}

#parallaxicons {
    top: 0;
}

.iconoverlay {
    position: absolute;
}

// @-webkit-keyframes bounce{
// 	0%{transform: translateY(-5%);}
// 	50%{transform: translateY(5%);}
// 	100%{transform: translateY(-5%);}
// }

// @-webkit-keyframes bounce2{
// 	0%{transform: translateY(5%);}
// 	50%{transform: translateY(-5%);}
// 	100%{transform: translateY(5%);}
// }

#benefiticon1 {
    top: 12vh;
    left: 24vw;

}

#benefiticon2 {
    top: 38vh;
    left: 13vw;

}
#benefiticon3 {
    top: 64vh;
    left: 20vw;

}

#benefiticon4 {
    top: 20vh;
    left: 72vw;

}
#benefiticon5 {
    top: 42vh;
    left: 80vw;

}
#benefiticon6 {
    top: 68vh;
    left: 71vw;

}

#footersvg {
    position: absolute;
    width: 100vw;
    bottom: 0;
    left: 0;
}

#benefits {
    background: url(../../assets/images/home/benefits/benefitsurface.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

#footer {
    margin: 0;
    padding: 0;
}

.icondesc {
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
}

.benefiticon {
    display: block;
    margin: 0 auto;
    width: 7vw;
    filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, 0.6) );
}

#fullpage {
    position: relative;
}

#food1 {
    top: 10vh;
    left: 24vw;

}

#food2 {
    top: 28vh;
    left: 13vw;

}
#food3 {
    top: 34vh;
    left: 20vw;

}

#food4 {
    top: 44vh;
    left: 13vw;

}

#food5 {
    top: 54vh;
    left: 25vw;

}

#food6 {
    top: 64vh;
    left: 15vw;

}


#food7 {
    top: 12vh;
    left: 70vw;

}

#food8 {
    top: 28vh;
    left: 80vw;

}
#food9 {
    top: 34vh;
    left: 70vw;

}

#food10 {
    top: 44vh;
    left: 75vw;

}

#food11 {
    top: 54vh;
    left: 84vw;

}

#food12 {
    top: 64vh;
    left: 70vw;

}

#food13 {
    top: 11vh;
    left: 14vw;

}

#food14 {
    top: 25vh;
    left: 5vw;

}

#food15 {
    top: 61vh;
    left: 5vw;

}

#food16 {
    top: 71vh;
    left: 28vw;

}

#food17 {
    top: 15vh;
    left: 85vw;

}

#food18 {
    top: 35vh;
    left: 90vw;

}

#food19 {
    top: 70vh;
    left: 80vw;

}
#food20 {
    top: 75vh;
    left: 90vw;

}


.hungry {
    width: 30vw;
    display: block;
    position: absolute;
    top: 37vh;
    left: 35vw;
    right: 0;
}

.svgshadow {
    filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, 0.5) );
}

#dieting {
        background: url(../../assets/images/home/diet/dietsurface.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    
}

.adjustmenttext2 {
    padding-top: 10vh;
}

#story1 {
    font-size: 3em;
    font-weight: 700;
}

#story2 {
    font-size: 2em;
    font-weight: 700;
}


.card.card-cascade.narrower .view.view-cascade {
    margin-left: 30% !important;
    margin-right: 30% !important;
    margin-top: -6rem !important;
}

.card.card-cascade.narrower {
    margin-top: 0 !important;
    margin-left: 2vw;
    margin-right: 2vw;
    background: rgba(255, 255, 255, 0.81);
}

div.storycard {
    border-radius: 50% !important; 
}

.card .card-body .card-text {
    color: #000000;
}

.adjustmenttext3 {
    padding-top: 7vh;
}

#story {
    background: url(../../assets/images/home/story/storysurface.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding: 0 10vw;
}

#maccaro {
    position: absolute;
    top: 0vh;
}

.laptop
{
    width: 100%;
    height: 58%;
    background: #000;
    border: 16px solid #262626;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    border-radius: 0.5em;
}

.laptop:before
{
    content: ' ';
    position: absolute;
    top: 58%;
    left: -10%;
    width: 120%;
    height: 20px;
    background: linear-gradient(to right, #747474 0%, #c3c3c3 5%, #ebebeb 14%, #979797 41%, #f0f0f0 80%, #747474 100%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 2px 2px 6px 6px;
}

#features {
    background: url(../../assets/images/home/features/featuresurface.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
