<!-- SMOOTH SCROLL, INTERNAL PAGINATION SLIDE OUT-->
<div id="parallaxdoodle">
<div class="layer" data-depth="0.40"><div id="doodlelayer"></div></div>
</div>

        
    <!--Modal: Login-->
    <div mdbModal #login="mdb-modal" class="modal fade" id="modallogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog cascading-modal" role="document">
                <!--Content-->
                <div class="modal-content">
    
                    <!--Header-->
                    <div class="modal-header gradient5 white-text waves-light" mdbWavesEffect>
                        <h4 class="title"><i class="fa fa-sign-in"></i> LOGIN TO CONTINUE</h4>
                        <button type="button" class="close waves-light" data-dismiss="modal" aria-label="Close" (click)="login.hide()">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        
                        <a href="/api/auth/google" target="_blank" class="btn btn-block btn-lg btn-danger waves-light" mdbWavesEffect>
                            <i class="fa fa-google-plus"></i> 
                            Login with google
                        </a>
                        <br> <br>
                        <a href="/api/auth/facebook" target="_blank" class="btn btn-block btn-lg btn-primary waves-light" style="margin-bottom: 2rem;" mdbWavesEffect>
                            <i class="fa fa-facebook"></i> 
                            Login with facebook
                        </a>
    
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal-->
<div id="fullpage">

    <div class="container section" [ngsReveal]="{ reset: true }" id="landing" [ngsRevealSet]="{ reset:true }" [ngsInterval]="100" [ngsSelector]="'.item'">
        <h1 class="adjustmenttext"></h1>
        <img src="../../assets/images/LOGO-small.svg" id="landinglogo" class="item">
        <h1 id="landingtitle1" class="item">ALPHA</h1>
        <h1 id="landingtitle2" class="item">AESTHETICS</h1>
        <h1 id="landingquotes" class="item"></h1>
        <a routerLink="/dashboard" mdbWavesEffect class="loginbtn item" id="loginbtn" *ngIf="!loggedIn">
            GET STARTED
        <span class="border-left"></span>
        <span class="border-top"></span>
        <span class="border-bottom"></span>
        <span class="border-right"></span>
        </a>

        <a routerLink="/dashboard" mdbWavesEffect class="loginbtn item" id="loginbtn" *ngIf="loggedIn">
                DASHBOARD
            <span class="border-left"></span>
            <span class="border-top"></span>
            <span class="border-bottom"></span>
            <span class="border-right"></span>
        </a>    

        <span class="scroll-btn">
            <a (click)="MoveDown()">
            <span class="mouse">
                <span>
                </span>
            </span>
            </a>
            <p>SCROLL DOWN</p>  
        </span>
    </div>

    <div class="container-fluid section" [ngsReveal]="{ reset: true }" id="story" >
            <h1 class="adjustmenttext3"></h1>
            <h1 class="diettitle" [ngsReveal]="{ reset: true, delay: 200 }" id="diet4">THE </h1>
            <h1 class="diettitle" [ngsReveal]="{ reset: true, delay: 200 }" id="story1">ALPHA</h1>
            <h1 class="diettitle" [ngsReveal]="{ reset: true, delay: 200 }" id="story2">AESTHETICS</h1>
            <h1 class="diettitle" [ngsReveal]="{ reset: true, delay: 200 }" id="diet4">STORY</h1>
            <div class="card-deck">
                
                        <div class="card card-cascade narrower" [ngsReveal]="{ reset: true, delay: 200 }">

                                <!-- Card image -->
                                <div class="view view-cascade overlay waves-light storycard" mdbWavesEffect>
                                  <img class="card-img-top" src="../../assets/images/home/story/ayush.jpg" alt="Ayush">
                                  <a href="https://www.instagram.com/alphaayush" target="_blank">
                                    <div class="mask rgba-white-slight"></div>
                                  </a>
                                </div>
                              
                                <!-- Card content -->
                                <div class="card-body card-body-cascade">
                            
                                <!-- Title -->
                                <h4 class="card-title">"It's all about perspective!" - Ayush</h4>
                                <!-- Text -->
                                <p class="card-text"> 
                                    I used to be the weakest guy in the room for all my life until I decided to change.
                                    I have learnt many things in the process, and more importantly how to build a positive mindset towards life.
                                    You have to fall in love with the process, not the end result.
                                    With Alpha Aesthetics my aim is to help you kickstart your journey towards health and fitness.
                                    Every service provided by Alpha Aesthetics is based on latest scientific literature and most applied methods of training and nutrition.
                                    So become part of a positive community.
                                    <b>Let's make a difference together.</b> 
                                </p>
                                <!-- Button -->
                            
                            </div>
                            
                    </div>

                        <div class="card card-cascade narrower" [ngsReveal]="{ reset: true, delay: 200 }" >

                                <!-- Card image -->
                                <div class="view view-cascade overlay waves-light storycard" mdbWavesEffect>
                                  <img class="card-img-top" src="../../assets/images/home/story/aviral.jpeg" alt="Ayush">
                                  <a href="https://www.instagram.com/gautam_aviral" target="_blank">
                                    <div class="mask rgba-white-slight"></div>
                                  </a>
                                </div>
                              
                                <!-- Card content -->
                                <div class="card-body card-body-cascade">
                            
                                <!-- Title -->
                                <h4 class="card-title">"Do something that your future self will be proud of!" - Aviral</h4>
                                <!-- Text -->
                                <p class="card-text"> 
                                    It all started when I was done hearing I am too skinny, when clothes didnt fit me of any size
                                    I knew it was time for a change and a big one. Then suddenly things started changing I was being
                                    noticed by others, they even respected what i do and my schedule, thats when i decided why not help
                                    everyone out there who felt what I felt and help them live the alpha lifestyle.
                                    So here at Alpha Aesthetics our aim is not just to make you fit but to develop a healthy lifestyle, a positive outlook on life and how to look good and feel good.
                                </p>
                                <!-- Button -->
                            
                            </div>
                            
                    </div>
            </div>
    </div>

    <div class="container-fluid section" [ngsReveal]="{ reset: true }" id="features" >
        
        <h1 class="adjustmenttext3"></h1>
        <h1 class="diettitle" [ngsReveal]="{ reset: true, delay: 200 }" id="diet4">WHAT </h1>
        <h1 class="diettitle" [ngsReveal]="{ reset: true, delay: 200 }" id="story1">ALPHA</h1>
        <h1 class="diettitle" [ngsReveal]="{ reset: true, delay: 200 }" id="story2">AESTHETICS</h1>
        <h1 class="diettitle" [ngsReveal]="{ reset: true, delay: 200 }" id="diet4">OFFERS TO YOU</h1>

        
        <div class="row">
                
            <div class="col"></div>
             <div class="col-md-6">
            <!--Carousel Wrapper-->
            <div class="laptop" >
            <mdb-carousel class="carousel slide" [isControls]="false" [animation]="'slide'" [interval]="4000" [noPause]="true" >
                    <!--First slide-->
                    <mdb-slide>
                        <div class="view" mdbWavesEffect>
                            <img class="d-block w-100" src="../../assets/images/home/features/weight.jpg" alt="First slide">
                        </div>
                    </mdb-slide>
                    <!--/First slide-->
                    <!--Second slide-->
                    <mdb-slide>
                        <div class="view" mdbWavesEffect>
                            <img class="d-block w-100" src="../../assets/images/home/features/workout.jpg" alt="Second slide">
                        </div>
                    </mdb-slide>
                    <!--/Second slide-->
                    <!--Third slide-->
                    <mdb-slide>
                        <div class="view" mdbWavesEffect>
                            <img class="d-block w-100" src="../../assets/images/home/features/weight.jpg" alt="Third slide">
                        </div>
                    </mdb-slide>
                    <!--/Third slide-->
                </mdb-carousel>
                <!--/.Carousel Wrapper-->
                </div>
            </div>
            <div class="col"></div>
            </div>
    </div>
    
    <div class="container-fluid section" [ngsReveal]="{ reset: true }" id="benefits" >
        <h1 class="adjustmenttext2"></h1>
         <h1 class="diettitle" [ngsReveal]="{ reset: true, delay: 100 }" id="benefit1">BENEFITS OF</h1>
         <h1 class="diettitle" [ngsReveal]="{ reset: true, delay: 200 }" id="benefit2">WORKING</h1>
         <h1 class="diettitle" [ngsReveal]="{ reset: true, delay: 300 }" id="benefit3">OUT!</h1>
         <div id="parallaxmodel">
             <div class="layer" data-depth="0.20"><img src="../../assets/images/home/benefits/benefitwomen.svg" id="benefitfemale" [ngsReveal]="{ reset: true, delay: 200 }" class="svgshadow" ></div>
             <div class="layer" data-depth="0.30"><img src="../../assets/images/home/benefits/benefitmen.svg" id="benefitmale" [ngsReveal]="{ reset: true, delay: 200 }" class="svgshadow" ></div>
             </div>
             <div id="benefiticons">
             <div id="parallaxicons">
                 <div class="layer" data-depth="0.30">
                 <div class="iconoverlay" id="benefiticon1">
                         <img src="../../assets/images/home/benefits/icons/confident.svg" [ngsReveal]="{ reset: true, delay: 100 }"  class="benefiticon">
                         <h2 class="icondesc">Become<br>Confident</h2>
                 </div>
                 </div>
 
                 <div class="layer" data-depth="0.40">
                 <div class="iconoverlay" id="benefiticon2">
                         <img src="../../assets/images/home/benefits/icons/heart.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
                         <h2 class="icondesc">Improve<br>Heart<br>Health</h2>
                 </div>
                 </div>
                 <div class="layer" data-depth="0.60">
                 <div class="iconoverlay" id="benefiticon3">
                         <img src="../../assets/images/home/benefits/icons/mood.svg" [ngsReveal]="{ reset: true, delay: 300 }"  class="benefiticon">
                         <h2 class="icondesc">Enhance <br>Mood</h2>
                 </div>
                 </div>
                 <div class="layer" data-depth="0.70">
                 <div class="iconoverlay" id="benefiticon4">
                         <img src="../../assets/images/home/benefits/icons/sexy.svg" [ngsReveal]="{ reset: true, delay: 100 }"  class="benefiticon">
                         <h2 class="icondesc">Become <br> Sexy</h2>
                 </div>
                 </div>
                 <div class="layer" data-depth="0.50">
                 <div class="iconoverlay" id="benefiticon5">
                         <img src="../../assets/images/home/benefits/icons/stress.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
                         <h2 class="icondesc">Reduce<br>Stress</h2>
                 </div>
                 </div>
                 <div class="layer" data-depth="0.20">
                 <div class="iconoverlay" id="benefiticon6">
                         <img src="../../assets/images/home/benefits/icons/strong.svg" [ngsReveal]="{ reset: true, delay: 300 }"  class="benefiticon">
                         <h2 class="icondesc">Become<br>Strong</h2>
                 </div>
                 </div>
         </div>
      </div>
     </div>
 

    <div class="container-fluid section" [ngsReveal]="{ reset: true }" id="dieting">
        <h1 class="adjustmenttext2"></h1>
        <h1 class="diettitle" [ngsReveal]="{ reset: true, delay: 200 }" id="diet1">DIETING</h1>
        <h1 class="diettitle" [ngsReveal]="{ reset: true, delay: 200 }" id="diet2">IS ALL ABOUT</h1>
        <h1 class="diettitle" [ngsReveal]="{ reset: true, delay: 200 }" id="diet3">BALANCE</h1>
        <h1 class="diettitle" [ngsReveal]="{ reset: true, delay: 200 }" id="diet4">BETWEEN THE TWO</h1>

        <div id="parallaxdiet">
                <div class="layer" data-depth="0.25">
                        <img src="../../assets/images/home/diet/hungry.svg" class="hungry svgshadow" [ngsReveal]="{ reset: true, delay: 200 }" >
                </div>
                <div class="layer" data-depth="0.20">
                        <img src="../../assets/images/home/diet/hungryeyes2.svg" class="hungry" [ngsReveal]="{ reset: true, delay: 200 }" >
                </div>
                <div class="layer" data-depth="0.18">
                        <img src="../../assets/images/home/diet/hungryeyes1.svg" class="hungry" [ngsReveal]="{ reset: true, delay: 200 }" >
                </div>
            <div class="layer" data-depth="0.30">
            <div class="iconoverlay" id="food1">
                    <img src="../../assets/images/home/diet/healthy/banana.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
            </div>
            </div>

            <div class="layer" data-depth="0.40">
            <div class="iconoverlay" id="food2">
                <img src="../../assets/images/home/diet/healthy/bread.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
            </div>
            </div>
            <div class="layer" data-depth="0.50">
            <div class="iconoverlay" id="food3">
                <img src="../../assets/images/home/diet/healthy/cucumber.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
            </div>
            </div>
            <div class="layer" data-depth="0.30">
                <div class="iconoverlay" id="food4">
                    <img src="../../assets/images/home/diet/healthy/eggs.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
                </div>
            </div>
            <div class="layer" data-depth="0.50">
                <div class="iconoverlay" id="food5">
                    <img src="../../assets/images/home/diet/healthy/pepper.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
                </div>
            </div>
            <div class="layer" data-depth="0.50">
                <div class="iconoverlay" id="food6">
                    <img src="../../assets/images/home/diet/healthy/tuna.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
                </div>
            </div>
            <div class="layer" data-depth="0.40">
                    <div class="iconoverlay" id="food13">
                        <img src="../../assets/images/home/diet/healthy/apple.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
                    </div>
                </div>
            <div class="layer" data-depth="0.40">
                <div class="iconoverlay" id="food14">
                    <img src="../../assets/images/home/diet/healthy/omelette.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
                </div>
            </div>
            <div class="layer" data-depth="0.50">
                    <div class="iconoverlay" id="food15">
                        <img src="../../assets/images/home/diet/healthy/whey.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
                    </div>
            </div>
            <div class="layer" data-depth="0.30">
                    <div class="iconoverlay" id="food16">
                        <img src="../../assets/images/home/diet/healthy/watermelon.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
                    </div>
            </div>
                    <div class="layer" data-depth="0.30">
                <div class="iconoverlay" id="food7">
                        <img src="../../assets/images/home/diet/fast/burger.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
                </div>
                </div>
    
                <div class="layer" data-depth="0.40">
                <div class="iconoverlay" id="food8">
                    <img src="../../assets/images/home/diet/fast/chicken.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
                </div>
                </div>
                <div class="layer" data-depth="0.60">
                <div class="iconoverlay" id="food9">
                    <img src="../../assets/images/home/diet/fast/hotdog.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
                </div>
                </div>
                <div class="layer" data-depth="0.30">
                    <div class="iconoverlay" id="food10">
                        <img src="../../assets/images/home/diet/fast/lasagne.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
                    </div>
                </div>
                <div class="layer" data-depth="0.50">
                    <div class="iconoverlay" id="food11">
                        <img src="../../assets/images/home/diet/fast/nachos.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
                    </div>
                </div>
                <div class="layer" data-depth="0.60">
                    <div class="iconoverlay" id="food12">
                        <img src="../../assets/images/home/diet/fast/pizza.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
                    </div>
                </div>
                <div class="layer" data-depth="0.60">
                        <div class="iconoverlay" id="food17">
                            <img src="../../assets/images/home/diet/fast/beer.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
                        </div>
                </div>
                <div class="layer" data-depth="0.60">
                        <div class="iconoverlay" id="food18">
                            <img src="../../assets/images/home/diet/fast/mojito.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
                        </div>
                </div>
                <div class="layer" data-depth="0.60">
                        <div class="iconoverlay" id="food19">
                            <img src="../../assets/images/home/diet/fast/popcorn.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
                        </div>
                </div>
                <div class="layer" data-depth="0.60">
                        <div class="iconoverlay" id="food20">
                            <img src="../../assets/images/home/diet/fast/taco.svg" [ngsReveal]="{ reset: true, delay: 200 }"  class="benefiticon">
                        </div>
                </div>
           </div>

    </div>



    <div class="container-fluid section" [ngsReveal]="{ reset: true }" id="footer" >

            <h1 class="adjustmenttext3"></h1>
            <h1 class="diettitle" [ngsReveal]="{ reset: true, delay: 200 }" id="diet4">PERSONAL </h1>
            <h1 class="diettitle" [ngsReveal]="{ reset: true, delay: 200 }" id="story1">TRAINING</h1>
            <h1 class="diettitle" [ngsReveal]="{ reset: true, delay: 200 }" id="diet4">PLANS</h1>


            <img src="../../assets/images/home/footer.svg" id="footersvg">
            
            <div id="footerbottom" >
                <span>©2018 Alpha Aesthetics India, all rights reserved</span>
                |
                <a (click)="tnc.show()">Terms and Conditions</a>
                    | 
                <a (click)="privacy.show()">Privacy Policy</a>
                    | 
                <a (click)="disclaimer.show()">Disclaimer</a> 
            </div>


    </div>
      <!--Modal: TnC-->
      <div mdbModal #tnc="mdb-modal" class="modal fade" id="modaltnc" tabindex="-1" role="dialog" aria-labelledby="modaltnc" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header elegant-color white-text waves-light" mdbWavesEffect>
                    <h4 class="title">Terms and Conditions</h4>
                    <button type="button" class="close white-text waves-light" data-dismiss="modal" aria-label="Close" (click)="tnc.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    
                    Welcome to Alpha Aesthetics India. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Alpha Aesthetics relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.
                    <br>
                    The use of this website is subject to the following terms of use:
                    <ol>
                        <li> The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
                        <li> This website uses cookies for the purpose of member access.</li>
                        <li> Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
                        <li> Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
                        <li> This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
                        <li> All trademarks reproduced in this website, which are not the property of, or licensed to the operator, are acknowledged on the website.</li>
                        <li> Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
                        <li> From time to time, this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</li>
                        <li> Your use of this website and any dispute arising out of such use of the website is subject to the laws of India.</li>
                    </ol>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal-->

    <!--Modal: Privacy-->
    <div mdbModal #privacy="mdb-modal" class="modal fade" id="modalprivacy" tabindex="-1" role="dialog" aria-labelledby="modaltnc" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header elegant-color white-text waves-light" mdbWavesEffect>
                <h4 class="title">Privacy</h4>
                <button type="button" class="close white-text waves-light" data-dismiss="modal" aria-label="Close" (click)="privacy.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                
                This privacy policy sets out how Alpha Aesthetics uses and protects any information that you give when you use the website.
                Alpha Aesthetics is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.
                <br>
                Alpha Aesthetics may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from 1st July 2018.
                
                <br>
                <b> What we collect- </b>
                
                <ul>

                <li> Name </li>
                <li> Contact information including email address </li>
                <li> Any personal information relevant for dietary purposes (at your discretion) </li>
                <li> Other information relevant to customer surveys and/or offers </li>
                
                </ul>
                <b> What we do with the information we gather- </b>
                <br>
                We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:
                <ul>
                    <li> Internal record keeping. </li>
                    <li> We may use the information to improve our products and services. </li>
                    <li> We may periodically send promotional emails about new products, special offers or other information which we think you may find interesting using the email address which you have provided. </li>
                    <li> From time to time, we may also use your information to contact you for market research purposes. We may contact you by email. We may use the information to customise the website according to your interests. </li>
                </ul>
                
                <b> Security </b>
                <br>
                We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.
                
                <br>

                <b> How we use cookies </b>
                <br>
                A cookie is a small file which asks permission to be placed on your computer’s hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. We use cookies for member access to this website.
                
                We use traffic log cookies to identify which pages are being used. This helps us analyse data about web page traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system. Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not.
                
                A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us. You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website or potentially result in the loss of function in some areas, member access in particular. For this reason, we recommend that you continue allowing the use of cookies.
                
                <br>
                <b> Your personal information</b>
                <br>
                We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting. You may request details of personal information which we hold about you under the Data Protection Act 1998. A small fee will be payable. If you would like a copy of the information held on you please write to us at <a href="mailto:ayushsinghxda@gmail.com">(click here)</a>.

            </div>
        </div>
        <!--/.Content-->
    </div>
    </div>
    <!--Modal-->

    <!--Modal: Privacy-->
    <div mdbModal #disclaimer="mdb-modal" class="modal fade" id="modaldisclaimer" tabindex="-1" role="dialog" aria-labelledby="modaltnc" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <!--Content-->
                <div class="modal-content">
        
                    <!--Header-->
                    <div class="modal-header elegant-color white-text waves-light" mdbWavesEffect>
                        <h4 class="title">Disclaimer</h4>
                        <button type="button" class="close white-text waves-light" data-dismiss="modal" aria-label="Close" (click)="disclaimer.hide()">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                            <article>The information contained in this website is for general information purposes only. While we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose.Any reliance you place on such information is therefore strictly at your own risk. In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.<p></p>
                                <p>Through this website you are able to link to other websites which are not under the control of Alpha Aesthetics. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.</p>
                                <p>Every effort is made to keep the website up and running smoothly. However, Alpha Aesthetics takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>
                             </article>
                        
                    </div>
                </div>
                <!--/.Content-->
    </div>
    </div>
    <!--Modal-->

</div>

   